:root {
  --color-light: #4d5ae5;
  --color-main: #2e2f42;
  --color-text: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-main);
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-light);
}

.logo span {
  color: var(--color-main);
}

.list {
  list-style: none;
}

.link:hover {
  color: var(--color-light);
}

.link:focus {
  color: var(--color-light);
}

.header-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main);
}

.header-mail {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.header-phone {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

/* Main */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.btn {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.main-btn {
  line-height: calc(19 / 16);
  color: #ffffff;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn-all {
  line-height: 1.5;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: #4d5ae5;
}

.btn-portfolio {
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: #f4f4fd;
}

.hide {
  opacity: 0;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main);
}

.hero-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.title-doing-team {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-main);
}

.work {
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

/* Footer */

.footer {
  background-color: #2e2f42;
}

.logo-footer {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-light);
}

.logo-footer span {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
