

:root {
  --color-primary-brand: #4d5ae5;
  --color-dark: #2e2f42;
  --color-succes: #31d0aa;
  --color-text: #434455;
  --color-subtle-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-dark);
  background-color: white;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
}

.logo span {
  color: var(--color-dark);
}

.list {
  list-style: none;
}

.link:hover {
  color: var(--color-text);
}

.link:focus {
  color: var(--color-text);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

.header-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.header-phone {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

/* Main */

.hero {
  background-color: var(--color-dark);
}

.hero-title {
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.main-btn {
  line-height: calc(19 / 16);
  color: #ffffff;
  background: var(--color-primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.main-btn:hover.btn,
.main-btn:focus.btn {
  background-color: var(--color-primary-brand);
  color: #ffffff;
}

.main-btn:active.btn {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn-portfolio {
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-primary-brand);
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: #f4f4fd;
}

.btn-portfolio:hover.btn,
.btn-portfolio:focus.btn {
  background-color: var(--color-primary-brand);
  color: #ffffff;
}

.hide {
  opacity: 0;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

.hero-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.title-doing-team {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

.work {
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

/* Footer */

.footer {
  background-color: var(--color-dark);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
}

.logo-footer span {
  color: var(--color-light);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}
